<div class="contact-section">
  <div class="contact-container">
    <h2 class="contact-heading">Get In Touch</h2>

    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name" class="form-control"
          [ngClass]="{'ng-invalid ng-touched': submitted && formControls['name'].errors}" placeholder="Your name">
        <div *ngIf="submitted && formControls['name'].errors" class="error-message">
          <div *ngIf="formControls['name'].errors['required']">Name is required</div>
          <div *ngIf="formControls['name'].errors['minlength']">Name must be at least 2 characters</div>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" class="form-control"
          [ngClass]="{'ng-invalid ng-touched': submitted && formControls['email'].errors}"
          placeholder="Your email address">
        <div *ngIf="submitted && formControls['email'].errors" class="error-message">
          <div *ngIf="formControls['email'].errors['required']">Email is required</div>
          <div *ngIf="formControls['email'].errors['email']">Please enter a valid email address</div>
        </div>
      </div>

      <div class="form-group">
        <label for="message">Message</label>
        <textarea id="message" formControlName="message" class="form-control"
          [ngClass]="{'ng-invalid ng-touched': submitted && formControls['message'].errors}" placeholder="Your message"
          rows="6"></textarea>
        <div *ngIf="submitted && formControls['message'].errors" class="error-message">
          <div *ngIf="formControls['message'].errors['required']">Message is required</div>
          <div *ngIf="formControls['message'].errors['minlength']">Message must be at least 10 characters</div>
        </div>
      </div>

      <button type="submit" class="submit-btn" [disabled]="loading">
        Send Message
        <span *ngIf="loading" class="loading-spinner"></span>
      </button>

      <div *ngIf="success" class="status-message success-message">
        Thank you! Your message has been sent successfully.
      </div>

      <div *ngIf="error" class="status-message error-message-container">
        {{ errorMessage }}
      </div>
    </form>
  </div>


  <div class="social-icons-container">
    <div class="social-icons">
      <a href="https://github.com/Pramudi02" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/pramudi-samarawickrama-4b5356283" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="mailto:pramupiyumika@gmail.com">
        <i class="fa-solid fa-envelope"></i>
      </a>
      <a href="https://www.instagram.com/iam_pramu.____/">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
    <!-- <h1 class="social-description">Feel free to reach out for any inquiries or collaborations.</h1> -->
    </div>
</div>