<div class="contact-section">
  <h1 class="contact-title">Contact Me</h1>
  <form class="contact-form">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Your Name" required />

      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Your Email" required />

      <label for="message">Message</label>
      <textarea id="message" name="message" rows="5" placeholder="Your Message" required></textarea>

      <button type="submit" class="submit-btn">Contact Me</button>
  </form>
  <p class="contact-note">
      Feel free to drop me a message, and I'll get back to you as soon as I can!
  </p>
  <div class="social-icons">
      <a href="https://github.com/Pramudi02" target="_blank">
          <i class="fa-brands fa-github"></i>
      </a>
      <a href="www.linkedin.com/in/pramudi-samarawickrama-4b5356283" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="mailto:pramupiyumika@gmail.com">
        <i class="fa-solid fa-envelope"></i>
      </a>
      <a href="https://www.instagram.com/iam_pramu.____/">
        <i class="fa-brands fa-instagram"></i>
      </a>
  </div>
</div>
