<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<div class="parent" id="aboutMe">
    <div class="section">
        <div id="socialicons">

            <!-- Frontend Section -->
            <div class="stack">
                <div class ="topic">Frontend</div>
                <div class="tech">
                    <div class="socialicon">
                        <div class="htmlcolor socialiconcircle1"></div>
                        <div class="socialiconcircle2">
                            <i class="fa-brands fa-html5 html5"></i>
                        </div>
                    </div>
                    <div class="socialicon">
                        <div class="csscolor socialiconcircle1"></div>
                        <div class="socialiconcircle2">
                            <i class="fa-brands fa-css3-alt css3"></i>
                        </div>
                    </div>
                    <div class="socialicon">
                        <div class="javascriptcolor socialiconcircle1"></div>
                        <div class="socialiconcircle2">
                            <i class="fa-brands fa-js-square js"></i>
                        </div>
                    </div>
                    <div class="socialicon">
                        <div class="angularcolor socialiconcircle1"></div>
                        <div class="socialiconcircle2">
                            <i class="fa-brands fa-angular angular"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Backend Section -->
            <div class="stack">
                <div class ="topic">Backend</div>
                <div class="tech">
                    <div class="socialicon">
                        <div class="javacolor socialiconcircle1"></div>
                        <div class="socialiconcircle2">
                            <i class="fa-brands fa-java java"></i>
                        </div>
                    </div>
                    <div class="socialicon">
                        <div class="phpcolor socialiconcircle1"></div>
                        <div class="socialiconcircle2">
                            <i class="fa-brands fa-php php"></i>
                        </div>
                    </div>
                    <div class="socialicon">
                        <div class="dotnetcolor socialiconcircle1"></div>
                        <div class="socialiconcircle2">
                            <i class="fa-solid fa-circle-dot dotnet"></i>
                        </div>
                    </div>
                </div>    
            </div>

            <!-- Database Section -->
            <div class="stack">
                <div class ="topic">Database</div>
                <div class="tech">
                    <div class="socialicon">
                        <div class="sqlcolor socialiconcircle1"></div>
                        <div class="socialiconcircle2">
                            <i class="fa-solid fa-database sql"></i>
                        </div>
                    </div>
                    <div class="socialicon">
                        <div class="mongodbcolor socialiconcircle1"></div>
                        <div class="socialiconcircle2">
                            <i class="fa-solid fa-leaf mongodb"></i>
                        </div>
                    </div>
                    <!-- <div class="socialicon">
                        <div class="firebasecolor socialiconcircle1"></div>
                        <div class="socialiconcircle2">
                            <i class="fa-brands fa-fire firebase"></i>
                        </div> -->
                    <!-- </div> -->
                </div>
            </div>

            <!-- Design Section -->
            <div class="stack">
                <div class ="topic">Design</div>
                <div class="tech">
                    <div class="socialicon">
                        <div class="figmacolor socialiconcircle1"></div>
                        <div class="socialiconcircle2">
                            <i class="fa-brands fa-figma figma"></i>
                        </div>
                    </div>
                    <div class="socialicon">
                        <div class="blendercolor socialiconcircle1"></div>
                        <div class="socialiconcircle2">
                            <i class="fa-solid fa-cube blender"></i>
                        </div>
                    </div>
                    <div class="socialicon">
                        <div class="canvacolor socialiconcircle1"></div>
                        <div class="socialiconcircle2">
                            <i class="fa-solid fa-palette canva"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Other Section -->
            <div class="stack">
                <div class ="topic">Other</div>
                <div class="tech">
                    <!-- C Icon -->
                <div class="socialicon">
                    <div class="ccolor socialiconcircle1"></div>
                    <div class="socialiconcircle2">
                        <i class="fa-solid fa-c c"></i>
                    </div>
                </div>
                <!-- Python Icon -->
                <div class="socialicon">
                    <div class="pythoncolor socialiconcircle1"></div>
                    <div class="socialiconcircle2">
                        <i class="fa-brands fa-python python"></i>
                    </div>
                </div>
                <!-- C++ Icon -->
                <div class="socialicon">
                    <div class="cpluscolor socialiconcircle1"></div>
                    <div class="socialiconcircle2">
                        <i class="fa-solid fa-code cplusplus"></i>
                    </div>
                </div>
                <!-- C# Icon -->
                <div class="socialicon">
                    <div class="csharpcolor socialiconcircle1"></div>
                    <div class="socialiconcircle2">
                        <i class="fa-solid fa-hashtag csharp"></i>
                    </div>
                </div>
                </div>
            </div>

        </div>
    </div>
</div>
