<div class="parent" id="aboutMe">
  <div class="section">
    <div class="socialicons">
      <h1 class="section-title">My Skills</h1>
    </div>

    <div id="socialicons">

      <!-- Programming Section -->
      <div class="stack">
        <div class="topic">Programming</div>
        <div class="tech">
          <div class="socialicon javacolor" title="Java">
            <div class="socialiconcircle1"></div>
            <div class="socialiconcircle2">
              <img src="https://cdn-icons-png.flaticon.com/512/226/226777.png" alt="Java Logo" class="tech-logo" />
            </div>
          </div>
          <div class="socialicon ccolor" title="C">
            <div class="socialiconcircle1"></div>
            <div class="socialiconcircle2">
              <img src="https://upload.wikimedia.org/wikipedia/commons/1/19/C_Logo.png" alt="C Logo" class="tech-logo" />
            </div>
          </div>
          <div class="socialicon cpluscolor" title="C++">
            <div class="socialiconcircle1"></div>
            <div class="socialiconcircle2">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1822px-ISO_C%2B%2B_Logo.svg.png" alt="C++ Logo" class="tech-logo" />
            </div>
          </div>
          
          <div class="socialicon pythoncolor" title="Python">
            <div class="socialiconcircle1"></div>
            <div class="socialiconcircle2">
              <img src="https://cdn-icons-png.flaticon.com/512/1822/1822899.png" alt="Python Logo" class="tech-logo" />
            </div>
          </div>
        </div>
      </div>

      <!-- Frontend Section -->
      <div class="stack">
        <div class="topic">Frontend</div>
        <div class="tech">
          <div class="socialicon javascriptcolor" title="JavaScript">
            <div class="socialiconcircle1"></div>
            <div class="socialiconcircle2">
              <img src="https://upload.wikimedia.org/wikipedia/commons/d/dc/Javascript-shield.png" alt="JavaScript Logo" class="tech-logo" />
            </div>
          </div>
          <div class="socialicon angularcolor" title="Angular">
            <div class="socialiconcircle1"></div>
            <div class="socialiconcircle2">
              <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular Logo" class="tech-logo" />
            </div>
          </div>
          <div class="socialicon reactcolor" title="React">
            <div class="socialiconcircle1"></div>
            <div class="socialiconcircle2">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1150px-React-icon.svg.png" alt="React Logo" class="tech-logo" />
            </div>
          </div>
          <div class="socialicon bootstrapcolor" title="Bootstrap">
            <div class="socialiconcircle1"></div>
            <div class="socialiconcircle2">
              <img src="https://cdn-icons-png.flaticon.com/512/5968/5968672.png" alt="Bootstrap Logo" class="tech-logo" />
            </div>
          </div>
          <div class="socialicon tailwindcolor" title="Tailwind CSS">
            <div class="socialiconcircle1"></div>
            <div class="socialiconcircle2">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcoZsMBFkU9ArhUL_HlgeESChICNA1cZcIZg&s" alt="Tailwind CSS Logo" class="tech-logo" />
            </div>
          </div>
        </div>
      </div>

      <!-- Backend Section -->
      <div class="stack">
        <div class="topic">Backend</div>
        <div class="tech">
          <div class="socialicon nodecolor" title="Node.js">
            <div class="socialiconcircle1"></div>
            <div class="socialiconcircle2">
              <img src="https://cdn-icons-png.flaticon.com/512/919/919825.png" alt="Node.js Logo" class="tech-logo" />
            </div>
          </div>
          <div class="socialicon expresscolor" title="Express.js">
            <div class="socialiconcircle1"></div>
            <div class="socialiconcircle2">
              <img src="https://images.seeklogo.com/logo-png/33/2/express-js-logo-png_seeklogo-339850.png" alt="Express.js Logo" class="tech-logo" />
            </div>
          </div>
          <div class="socialicon dotnetcolor" title=".NET">
            <div class="socialiconcircle1"></div>
            <div class="socialiconcircle2">
              <img src="https://w7.pngwing.com/pngs/716/976/png-transparent-dot-net-core-hd-logo-thumbnail.png" alt=".NET Logo" class="tech-logo" />
            </div>
          </div>
          <div class="socialicon firebasecolor" title="Firebase">
            <div class="socialiconcircle1"></div>
            <div class="socialiconcircle2">
              <img src="https://static.wikia.nocookie.net/logopedia/images/f/fd/Firebase_Monochrome_Vertical_Lockup_Optimized_Black.svg/revision/latest/scale-to-width-down/250?cb=20241027233451" alt="Firebase Logo" class="tech-logo" />
            </div>
          </div>
        </div>
      </div>

      <!-- Database Section -->
      <div class="stack">
        <div class="topic">Database</div>
        <div class="tech">
          <div class="socialicon sqlcolor" title="MySQL / MSSQL">
            <div class="socialiconcircle1"></div>
            <div class="socialiconcircle2">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQR6xIouk6d_hYd707m_C3nadFlprIwZH8v3rfkPUDdb0fwx-sx2blkdrAlyypPeuxZZ-c&usqp=CAU" alt="Database Logo" class="tech-logo" />
            </div>
          </div>
          <div class="socialicon mongodbcolor" title="MongoDB">
            <div class="socialiconcircle1"></div>
            <div class="socialiconcircle2">
              <img src="https://cdn.iconscout.com/icon/free/png-256/mongodb-5-1175140.png" alt="MongoDB Logo" class="tech-logo" />
            </div>
          </div>
        </div>
      </div>

      <!-- Design Section -->
      <div class="stack">
        <div class="topic">Design</div>
        <div class="tech">
          <div class="socialicon figmacolor" title="Figma">
            <div class="socialiconcircle1"></div>
            <div class="socialiconcircle2">
              <img src="https://upload.wikimedia.org/wikipedia/commons/3/33/Figma-logo.svg" alt="Figma Logo" class="tech-logo" />
            </div>
          </div>
          <div class="socialicon adobeicolor" title="Adobe Illustrator ">
            <div class="socialiconcircle1"></div>
            <div class="socialiconcircle2">
              <img src="https://img.freepik.com/premium-photo/adobe-illustrator-3d-icon-isolated-white-background_1108860-1348.jpg?w=360" alt="Adobe Logo" class="tech-logo" />
            </div>
          </div>
          <div class="socialicon adobepcolor" title="Photoshop">
            <div class="socialiconcircle1"></div>
            <div class="socialiconcircle2">
              <img src="          https://www.shutterstock.com/image-illustration/adobe-photoshop-3d-icon-isolated-600nw-2492088517.jpg" alt="Adobe Logo" class="tech-logo" />
            </div>
          </div>

          <div class="socialicon gimpcolor" title="GIMP">
            <div class="socialiconcircle1"></div>
            <div class="socialiconcircle2">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/The_GIMP_icon_-_gnome.svg/1200px-The_GIMP_icon_-_gnome.svg.png" alt="GIMP Logo" class="tech-logo" />
            </div>
          </div>
        </div>
      </div>

      <!-- Tools Section -->
      <div class="stack">
        <div class="topic">Tools</div>
        <div class="tech">
          <div class="socialicon postmancolor" title="Postman">
            <div class="socialiconcircle1"></div>
            <div class="socialiconcircle2">
              <img src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/postman-icon.png" alt="Postman Logo" class="tech-logo" />
            </div>
          </div>
          <div class="socialicon gitcolor" title="Git">
            <div class="socialiconcircle1"></div>
            <div class="socialiconcircle2">
              <img src="https://www.svgrepo.com/show/303548/git-icon-logo.svg" alt="Git Logo" class="tech-logo" />
            </div>
          </div>
          <div class="socialicon githubcolor" title="GitHub">
            <div class="socialiconcircle1"></div>
            <div class="socialiconcircle2">
              <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub Logo" class="tech-logo" />
            </div>
          </div>
          <div class="socialicon jiracolor" title="Jira">
            <div class="socialiconcircle1"></div>
            <div class="socialiconcircle2">
              <img src="https://catworkx.one/hubfs/jira-1.svg" alt="Jira Logo" class="tech-logo" />
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
