<div class="loading-screen">
  <div class="loading-container">
    <!-- Favicon with animated rings -->
    <div class="logo-container">
      <div class="rotating-ring ring-1"></div>
      <div class="rotating-ring ring-2"></div>
      <div class="rotating-ring ring-3"></div>
      <img src="https://res.cloudinary.com/dfbvnb3vx/image/upload/v1748340447/favicon_yonvt7.ico" alt="Logo" class="favicon-logo">
    </div>
    
    <!-- Simple loading dots -->
    <div class="loading-dots">
      <div class="dot dot-1"></div>
      <div class="dot dot-2"></div>
      <div class="dot dot-3"></div>
    </div>
  </div>
</div>