<div class="about-section parent">
  <div class="waveWrapper waveAnimation">
    <div class="waveWrapperInner bgTop">
      <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
    </div>
    <div class="waveWrapperInner bgMiddle">
      <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
    </div>
    <div class="waveWrapperInner bgBottom">
      <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="image-container">
      <img src="https://res.cloudinary.com/dfbvnb3vx/image/upload/v1748340450/me_occirz.png" alt="My image" class="profile-image" />
    </div>
    <div class="text-container">
      
      <p>
        I’m an IT undergraduate at the University of Moratuwa with a deep interest in web development, software engineering, and UI/UX design. My technical journey spans building responsive and scalable web applications, exploring frameworks, and working with both relational and NoSQL databases. I enjoy bridging design and functionality—crafting interfaces that are not only visually appealing but also intuitive and performance-driven.
<br><br>
Alongside my tech projects, I run ART BY PRAMU, where I bring creativity into digital design and custom artwork for clients worldwide.

Driven by innovation, problem-solving, and continuous learning, I’m passionate about exploring how technology and design can come together to create impactful real-world solutions.
      </p>
      <div class="button-container">
        <a href="https://drive.google.com/file/d/1F6keTZNaDknWdQVgWQyabL8B_TWnowIP/view?usp=sharing" class="cv-button" target="_blank">Grab My CV</a>
      </div>
    </div>
  </div>
</div>