<div class="about-section parent">
    <div class="waveWrapper waveAnimation">
        <div class="waveWrapperInner bgTop">
            <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
        </div>

        <div class="waveWrapperInner bgMiddle">
            <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
        </div>

        <div class="waveWrapperInner bgBottom">
            <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="image-container">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIrrv_-dsiImv00YsPYIOuq3bmRnhh8A9d8g&s" alt="My image" class="profile-image">
        </div>
        <div class="text-container">
            <h1>I'm Pramudi Samarawickrama</h1>
            <p>An IT undergraduate at the University of Moratuwa with a passion for web design, art, and programming. As a Web UI Designer, I blend creativity and technical skills to create user-friendly, visually appealing websites. I've worked on various projects, from responsive websites to exploring frameworks like Angular. I also run "ART BY PRAMU," where I create custom artwork delivered worldwide. My work is driven by a passion for innovation and solving real-world problems with design.</p>
            
            <div class="button-container">
                <a href="../../../assest/CV.pdf" class="cv-button" target="_blank">Grab My CV</a>
            </div>
        </div>
    </div>
</div>
