<div class="hero-section">
    <img src="https://res.cloudinary.com/dfbvnb3vx/image/upload/v1758585260/PRAMUDI_hbhbt7.png" alt="Hero Background" class="hero-image">
    <div class="section-center">
        <!-- <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="name-container text-center">
                    <h1 class="name">Pramudi Samarawickrama</h1>
                </div>
                <div class="name-container text-center mb-2 subName">
                    <h2>I'm</h2> <app-typing-text></app-typing-text>
                </div>
                <div class="text-center">
                    <nav class="nav-container">
                        
                        <a (click)="scrollToSection('projects')" class="nav-item">
                            <span class="projects navTitles hover-target">Projects</span>
                        </a>
                        <a (click)="scrollToSection('contact')" class="nav-item">
                            <span class="contacts navTitles hover-target">Contacts</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div> -->
    </div>
</div>

<section id="about">
    <app-about></app-about>
</section>

<section id="skills">
    <app-skills></app-skills>
</section>

<section id="projects">
    <app-projects></app-projects>
</section>

<section id="education">
    <app-education></app-education>
</section>

<section id="art">
    <app-art-section></app-art-section>
</section>

<section id="contact">
    <app-contact></app-contact>
</section>