<div class="hero-section  ">	
    <div class="section-center">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="name-container text-center">
                    <h1 class="name">Pramudi Samarawickrama</h1>
                </div>
                <div class="name-container text-center mb-2">
                    <app-typing-text></app-typing-text>
                    <!-- <div class="possition text-center"><h2>Undergraduate & IT enthusiast</h2></div> -->
                </div>
                <div class=" text-center">
                    <p>
                        <span class="aboutMe navTitles hover-target" routerLink="/about" routerLinkActive="active-link">About Me</span> 
                        <span class="skills navTitles hover-target" routerLink="/skills" routerLinkActive="active-link">Skills</span> 
                        <span class="projects navTitles hover-target" routerLink="/projects" routerLinkActive="active-link">projects</span>
                        <span class="contacts navTitles hover-target" routerLink="/contact" routerLinkActive="active-link">Contacts</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
        
</div>