.typing-text {
  font-size: 3rem; /* h2 size */
  font-weight: 500;
  color: #1de2d1;
  white-space: nowrap;
  overflow: hidden;
  height: 60px;
  line-height: 60px;
  margin-left: 10px;
}

.cursor {
  display: inline-block;
  animation: blink 0.7s steps(1) infinite;
  color: #1de2d1;
  font-weight: 500;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
