.typing-text li {
    /* border: 2px solid red; */

    position: relative;
    top: 0;
    border-right: 3px solid #1de2d1;
    list-style: none;
    animation: slide 24s steps(4) infinite;
}
@keyframes slide {
    100% {
        top: -235px;
    }
}
/* typing effect */
.typing-text {
    /* border: 2px solid blue; */
    color: #1de2d1;
    margin-left: 10px;
    white-space: nowrap;
    font-size: 35px;
    font-weight: bold;

    /* making the div size small as the text and hide the overflow content  */
    height: 60px;
    line-height: 60px;
    overflow: hidden;

    animation: typing 6s steps(16) infinite;
}
@keyframes typing {
    0% {
        width: 0ch;
    }

    50% {
        width: 16ch;
    }

    100% {
        width: 0ch;
    }
}
