<!-- <div>
    <router-outlet></router-outlet>
</div> -->
<div class="body">
    <section id="home">
        <app-homepage></app-homepage>
    </section>
    <section id="about">
        <app-about></app-about>
    </section>
    <section id="skills">
        <app-skills></app-skills>
    </section>
    <section id="projects">
        <app-projects></app-projects>
    </section>
    <section id="contact">
        <app-contact></app-contact>
    </section>
    <section id="footer">
        <app-footer></app-footer>
    </section>
</div>
