
    <div class="projects-section parent">
        <div class="overlay"></div>
        <div class="content">
            <h1 class="section-title">Recent Projects</h1>
            <p class="section-description">
                Below you can see some examples of my recent work. Have a project you would like to discuss? <br>
                <a href="#contact">Let’s make something great together!</a>
            </p>
            <div class="projects-container">

                <!-- Project 1 -->
                <div class="project-card">
                    <!-- <div class="project-image" style="background-image:url('../../../assest/proj1.png');"></div> -->
                    <div class="project-image proj1"></div>
                    <a href="https://github.com/hhadithya/rhyme-jacket"><h2 class="project-title">Interactive Rhyme Jacket</h2></a>
                    <p class="project-description">A wearable tech solution that combines motion sensors and health monitoring to engage kids in fun, music-driven exercise. Features gyroscopes, flex sensors, and heart rate monitoring for interactive, real-time feedback during physical activity</p>
                </div>

                <!-- Project 2 -->
                <div class="project-card">
                    <div class="project-image proj2"></div>
                    <a href="https://grttravelsandtours.com/"><h2 class="project-title">GRT Travels Website</h2></a>
                    <p class="project-description">Designed and developed a responsive website for GRT Travels & Tours (client), showcasing their services, including airline ticketing, visa arrangements, and hotel bookings, with a focus on user-friendly navigation. Technologies: HTML, CSS, JavaScript, WordPress.</p>
                </div>

                <!-- Project 3 -->
                <div class="project-card">
                    <div class="project-image proj3"></div>
                    <a href="https://merchmora-website.onrender.com/"><h2 class="project-title">MerchMora</h2></a>
                    <p class="project-description">Designed and developed a comprehensive e-commerce website as part of an academic project. 
                        Collaborated with a team to create a user-friendly platform for seamless online shopping.
                        Enhanced skills in web development, teamwork, and user interface design through this project.
                    </p>
                </div>

                <!-- Project 4 -->
                <div class="project-card">
                    <div class="project-image proj4"></div>
                    <a href="#"><h2 class="project-title">Website for TechTriathlon</h2></a>
                    <p class="project-description">Created a travel and visa passport service website promoting Sri Lankan tourism for Tech-Triathlon 2024 by Rootcode. 
                        Participated in hackathon and datathon events, contributing to web development and service design.
                        Enhanced collaboration and project execution skills through teamwork and innovation.
                    </p>
                </div>

                <!-- Project 5 -->
                <!-- <div class="project-card">
                    <div class="project-image proj5"></div>
                    <a href=""><h2 class="project-title"></h2></a>
                    <p class="project-description"></p>
                </div> -->
                
                <!-- Project 6 -->
                <!-- <div class="project-card">
                    <div class="project-image proj6"></div>
                    <a href=""><h2 class="project-title"></h2></a>
                    <p class="project-description"></p>
                </div> -->
            </div>
        </div>
    </div>

