.parent {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: #25e0d7;
    box-sizing: border-box;
}

.projects-section {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: #25e0d7;
    position: relative;
    padding: 50px 20px;
    overflow: hidden;
}

.projects-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);/* Background Overlay */
    z-index: 1;
}

.projects-section .content {
    position: relative;
    z-index: 2; /* Above the overlay */
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.projects-section .section-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 700;
}

.projects-section .section-description {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.projects-section .section-description a {
    color: #00e1ff;
    text-decoration: none;
    font-weight: 700;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.project-card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    color: #333;
    text-align: left;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Project Image */
.project-card .project-image {
    width: 100%;
    height: 240px;
    background-size:contain;
    background-position: center;
}
   
.proj1{
    background-image: url('../../../assest/proj1.png');
}

.proj2{
    background-image: url('../../../assest/proj2.png');
}

.proj3{
    background-image: url('../../../assest/proj3.png');
}

.proj4{
    background-image: url('../../../assest/proj4.png');
}


/* Project Title */
.project-card .project-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 15px;
    color: #000;
    
}
.project-card a{
    text-decoration: none;

}

.project-card .project-description {
    font-size: 1rem;
    margin: 0 15px 20px 15px;
    line-height: 1.6;
    color: #555;
}

@media (max-width: 768px) {
    .projects-section .section-title {
        font-size: 2rem;
    }

    .projects-section .section-description {
        font-size: 1rem;
    }

  
}

@media (max-width: 480px) {
    .projects-section .section-title {
        font-size: 1.8rem;
    }

    .projects-section .section-description {
        font-size: 0.9rem;
    }

    .project-card .project-title {
        font-size: 1.2rem;
    }

    .project-card .project-description {
        font-size: 0.9rem;
    }
}

