    <div class="projects-section parent">
        <div class="overlay"></div>
        <div class="content">
            <h1 class="section-title">Recent Projects</h1>
            <p class="section-description">
                Below you can see some examples of my recent work. Have a project you would like to discuss? <br>
                <a href="#contact">Let's make something great together!</a>
            </p>
            
            <div class="projects-wrapper">
                <div class="nav-arrow prev" (click)="slidePrev()">
                    <i class="fas fa-chevron-left"></i>
                </div>
                
                <div #projectsContainer class="projects-container" 
                    (mousedown)="startDragging($event)"
                    (mousemove)="onDrag($event)"
                    (mouseup)="stopDragging()"
                    (mouseleave)="stopDragging()">
                    
                    <div class="project-card" *ngFor="let project of projects; let i = index"
                        [class.active]="currentIndex === i">
                        <div class="project-image" [class]="'proj' + (i + 1)"></div>
                        <a [href]="project.repoUrl">
                            <h2 class="project-title">{{project.title}}</h2>
                        </a>
                        <p class="project-description">{{project.fullDescription}}</p>
                        <button class="see-more-btn" (click)="openProject.emit(i); openModal(i)">See More</button>
                    </div>
                </div>
                
                <div class="nav-arrow next" (click)="slideNext()">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>

            <div class="progress-dots">
                <div class="dot" *ngFor="let project of projects; let i = index" 
                    [class.active]="currentIndex === i"
                    (click)="goToSlide(i)">
                </div>
            </div>
        </div>
    </div>



